.flight-card {
  padding: 20px !important;
  border: 0 !important;
}

.flight-card-holder {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.flight-card-holder:hover {
  background: #f1f1f1 !important;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
}

  .small-departure-holder {
    display: none;
  }
  .med-departure-holder {
    display: block;
  }

@media screen and (max-width: 767px) {
  .small-departure-holder {
    display: block;
  }
  .med-departure-holder {
    display: none;
  }
}
