.home .get-started {
  position: relative;
  overflow: hidden;
  min-height: 40vh;
  background: white;
  padding: 12.5vh 0;
}

.home .get-started h1 {
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

.home .get-started h2 {
  text-align: center;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 0.5em;
}

.home .get-started button {
  width: 50%;
  color: white;
  margin: 3em auto 0 auto;
  display: block;
  padding: 1em 6em;
  border-radius: 1em;
  border: 0 solid;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  transition: 0.2s !important;
}

.home .get-started button:hover {
  transform: scale(1.03) !important;
  box-shadow: 0 6px 18px 0 rgba(33, 213, 253, 0.5) !important;
}

.home .get-started a:hover {
  text-decoration: none !important;
  color: white;
}
